<%= initialize(); %>
<%= section("Introducción"); %>

<p>En matemáticas <b>$\pi$</b> es una constante cuyo valor es la razón entre el perímetro de un círculo con respecto a su diámetro, es decir, cuantas veces cabe el diámetro en el perímetro del círculo.</p>

<%= figure('pi_unrolled', 'Razón entre el el perímetro y el diámetro de un círculo', 'pi_unrolled', 'gif', 'ES'); %>

<p>Arquímides de Siracusa(c. 287 a. C. ? c. 212 a. C.) fue un matemático griego, físico, ingeniero, inventor y astrónomo. Él fue probablemente el primero en encontrar un método para aproximar el valor de $\pi$ de manera iterativa.</p>

<p>Dada una circunferencia, el método de Arquímides consiste en dibujar un polígono inscrito y otro circunscrito y calculaba el perímetro de ambos polígonos, siendo estos perímetros el límite superior(polígono circunscrito) y límite inferior(polígono inscrito), véase figura <%= ref('arquimedes_pi'); %>.</p>

<%= figure('arquimedes_pi', 'Método de Arquímides para obtener PI', 'arquimedes_pi', 'png', 'ES'); %>

<p>Con base en lo anterior Arquímides pudo determinar el intervalo numérico en el que se encuentra el valor exacto de $\pi$, ecuación <%= ref("pi_interval"); %>.</p>

<%= equation('3+\frac{10}{71}<\pi<3+\frac{1}{7}', 'pi_interval'); %> 

<p>Sabemos que el perímetro de una circunferencia es igual a $2 * \pi * radio$ o  $\pi * diametro$ y que el perímetro de un polígono regular de <em>n</em> lados es $n * longitudDeLado$. Las fórmulas <%= ref("pi_inf"); %> y <%= ref("pi_sup"); %> obtienen el valor aproximado de $\pi$ para para los límites inferior y superior para polígonos inscritos y circunscritos respectivamente.</p>

<%= equation('p = 2rsin(\frac{\theta}{2})n \approx \pi', 'pi_inf'); %>
<%= equation('p = 2rtan(\frac{\theta}{2})n \approx \pi', 'pi_sup'); %>

<p>Donde <em>n</em> es el número de lados del polígono, <em>r</em> el radio de la circunferencia y $\theta$ es el ángulo interno formado por los lados del polígono. Para un caso general podemos asumir que el diámetro del círculo es igual a la unidad, por tanto $r=\frac{1}{2}$, reduciendo las fórmulas <%= ref("pi_inf"); %> y <%= ref("pi_sup"); %> a</p>

<%= equation('p = sin(\frac{\theta}{2})n \approx \pi', 'pi_inf_gen'); %>
<%= equation('p = tan(\frac{\theta}{2})n \approx \pi', 'pi_sup_gen'); %>


<p>Según las fórmulas <%= ref("pi_inf_gen"); %> y <%= ref("pi_sup_gen"); %> solo necesitamos conocer el valor de <em>n</em> el cual lo sabemos de antemano  y el valor de $\theta$, que calculamos con </p>

<%= equation('\frac{2\pi}{n}~~~~~~siendo~\pi=3.14159', 'calc_theta'); %>

<p>En la ecuación <%= ref("calc_theta"); %> se remarca que en esta fórmula debe emplearse el valor de $\pi$ con la precisión que empleamos comúnmente para el calculo de $\theta$.</p>

<p>Por cierto, si se preguntan de donde resultan las formulas una imagen puede ayudar.</p>

<%= figure('perimetro_pi_formulas', 'Derivación de formulas', 'perimetro_pi_formulas', 'png', 'ES'); %>

<p>Cuanto mayor sea el número de lados del polígono mayor sera la precisión del valor de $$\pi$$. Así, por ejemplo, para n = 3, n = 8 y n = 17280 usando un polígono inscrito tenemos que el valor aproximado de $$\pi$$ es 2.598076211353316, 3.0614674589207183 y 3.1415926362832276 respectivamente.</p>

<%= section("Aplicaciónes"); %>

<p>Hoy por la mañana me levante y por suerte tenía un poco de tiempo libre así que prendí mi ordenador y decidí entrar la arena de Topcoder y practicar un poco(para no quedar en los últimos lugares como siempre) y entonces me encontré con el problema <a href="http://www.topcoder.com/stat?c=problem_statement&pm=1693" target="__blank">Archimedes</a> empleado en el SRM 151. Sinceramente no tuve idea de como resolver el problema, no soy muy matemático que digamos, así que investigue un poco y pude resolver el problema. En este post he expuesto lo que encontré, espero que les sirva. Les dejo la solución del problema en C++ por si acaso.</p>

<%= code('arquimedes-pi-sol.cpp') %>

<%= section("Referencias"); %> 
<p>[1] <a href="http://en.wikipedia.org/wiki/Approximations_of_%CF%80" target="_blank"> http://en.wikipedia.org/wiki/Approximations_of_%CF%80 </a><br\></p>
<p>[2] <a href="http://www.pbs.org/wgbh/nova/physics/approximating-pi.html" target="_blank"> http://www.pbs.org/wgbh/nova/physics/approximating-pi.html</a></p>

<%= finalize(); %>
