<p><a href="http://en.wikipedia.org/wiki/Breadth-first_search">Breadth-First Search</a> is another fundamental algorithm in [graph theory](http://en.wikipedia.org/wiki/Graph_theory), it's a must to know!.</p>

<%= figure('graph','A graph', 'graph', 'svg', 'EN') %>

<p>For this algorithm we need a <a href="http://en.wikipedia.org/wiki/Queue_%28abstract_data_type%29" target="_blank">queue</a>.</p>

<%= code(post, 'src.cpp') %>

<p>Example input(figure <%= ref('graph') %>):</p>

<%= code(post, 'input.txt') %>

<p>Example output:</p>
<%= code(post, 'output.txt') %>

<p>And that's it. Remember, Breadth-First Search must be part of your toolbox!</p>
