<%= initialize(); %>

<p>En el semestre que curso actualmente llevo la asignatura de graficación, para la cual hace unos días elabore un programa, proyecto de la primera unidad. Este programa consiste basicamente en mostrar como se representan los graficos en un monitor, es decir, a nivel de pixeles. Ya que los pixeles son unidades fisicas muy pequeñas se nos ha encomendado programar un simulador que escenifique este mismo proceso a una mayor escala.</p>
    
<p>El lenguaje de programación que utilizamos en clase es Java, sin embargo, en mi afan de aprender a crear interfaces gráficas en C++ con  <strong>Qt</strong> he realizado el mismo programa tanto en Java como en C++.

<p>Aquí unos screenshots:</p>

<%= figure(post, 'pixelize_1.png')  %>
<%= figure(post, 'pixelize_2.png')  %>
<%= figure(post, 'pixelize_3.png')  %>

<%= section('Descargar código fuente') %>

<table border="0">
    <tr>
        <td>Pixelize Qt</td>
        <td> <%= file(post, 'pixelize_qt.tar.gz') %> </td>
    </tr>
    <tr>
        <td>Pixelize Java</td>
        <td> <%= file(post, 'pixelize_java.tar.gz') %> </td>
    </tr>
</table>

<%= finalize(); %>
