<%= initialize(); %>

<p>En una división entera se distinguen cuatro elementos, <em>dividendo</em>, <em>divisor</em>, <em>cociente</em> y <em>módulo o residuo</em>. Donde el dividendo es la cantidad a dividir, divisor el valor contra el cual se hara la división, el resultado es el cociente y residuo la cantidad sobrante. Por ejemplo, sea <em>n</em> = 123 y <em>d</em> = 4, al realizar la división obtenemos un cociente <em>c</em> igual a 30 y un residuo <em>r</em> igual a 3.</p>

<p>El objetivo de este documento es describir dos metodos que permiten calcular el módulo de una división entera. Usted podría pensar ¿que difícil es eso? y yo le contesto, no es dificil, pero para numeros muy muy grandes resulta que no es tan sencillo. Con los metodos que aquí les presento ustedes serán capaces de obtener el módulo de divisiones enteras con un dividendo de cientos, miles, o incluso millones de dígitos.</p>

<p>La mayoría de los lenguajes de programación tienen un operador para la operación módulo, en C/C++, Java, C# y similares el operador es el signo de porcentaje.</p>

<pre lang="c">int n = 123 % 4; // n = 3</pre>

<p>Pues resulta que en algun momento de tu vida como programador te encuentras con el problema de calculas residuos, pero no cualquier cosa, sino más o menos algo como </p>

<blockquote>
  Dados tres números enteros <em>b</em>, <em>p</em> y <em>m</em> donde 0 <= <em>b, p</em> <= 2^30 y 1 <= <em>m</em> <= 2^30, calcular el residuo de <em>(b^p) % m</em>.
</blockquote>

<p>O también</p>

<blockquote>
  Sea <em>n</em> un número de hasta un millon de dígitos, representado como una cadena de caracteres y un entero <em>m</em> tal que <em>m</em> es mayor que cero y <em>m</em> es menor o igual a 2^63 - 1, determinar si <em>n</em> es divisible sobre <em>m</em>.
</blockquote>

<p>Interesante heee!. Y bien, a pesar de que a primera vista estos dos problemas pueden parecer muy complejos en este artículo les mostrare como emplear algo de teoría de números que nos permitan dar solución a estos problemas de una forma muy sencilla y elegante, tan solo unas cuantas líneas de código.</p>

<%= section('Módulo cuando conocemos los factores del dividendo') %>

<p>Si conocemos los factores del dividendo entonces se puede aplicar la siguiente propiedad para el módulo:</p>

<%= equation("(abc) \bmod m = ((a \bmod m)(b \bmod m)(c\bmod m))\bmod m", "multiply_mod"); %> 

<p>Por ejemplo, sea <em>n = 105</em> y <em>m = 9</em>, entonces n%m = ((3 % 9) * (5 % 9) * (7 % 9)) % 9 = (3 * 4 * 2) % 9 = 24 % 9 = 6, lo cual es fácil comprobar. Cuando tenemos un número <em>b</em> elevado a una potencia <em>p</em> sabemos que eso equivale a multiplicar la base <em>b</em> un número de veces igual a <em>p</em>, por ejemplo, 3^4 = 3 * 3 * 3 * 3. Entonces podemos aplicar <strong>(1)</strong> para el primer problema <em>(b^p) % m</em>. Como <em>p</em> puede ser muy grande entonces usamos <a href="/recursion" target="_blank">exponenciación por cuadrados repetidos</a>. Una posible implementación en C es la siguiente.</p>

<%= code(post, 'modpow.c') %>

<%= section('Modulo cuando conocemos los dígitos del dividendo') %>

<p>Del teorema fundamental de la numeración tenemos que cualquier numero se puede obtener a partir de sus dígitos de siguiente manera:</p>

<%= equation('N=d\_{n-1}b^{n-1} +...+ d\_{1}b^{1} + d\_{0}b^{0}', 'tfn'); %>

<p>Véase <%= link_to_post('/numeros-y-strings', 'como convertir números a string y viceversa para más información') %>. Además existe otra propiedad similar a <%= ref("multiply_mod"); %> pero para la suma.</p>

<%= equation('(a + b + c) \bmod m = ((a \bmod m) + (b \bmod m) + (c \bmod m)) \bmod m', 'sum_mod'); %>

<p>Con toda esta información podemos formular el siguiente algoritmo que resuelve el problema que estamos tratando.</p>

<%= code(post, 'mod.c') %>

<p>Si el resultado que devuelve esta función es cero entonces <em>n</em> es divisible por <em>m</em>.</p>

<p>A continuación les dejo algunos problemas para que practiquen:</p>

<ul>
  <li><a href="http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=5&page=show_problem&problem=310" target="_blank">Big mod</a></li>
  <li><a href="http://projecteuler.net/problem=97" target="_blank">ProjectEuler.net problema 97</a></li>
  <li><a href="http://community.topcoder.com/stat?c=problem_statement&pm=4515" target="_target">PowerDigit</a></li>
</ul></li>

<%= section('Conclusión') %>

<p>La teoría de números es muy interesante, es posible dar solución a problemas complejos de manera muy elegante.</p>

<%= section('Referencias') %>

<table border="0">
<tr><td>[1]</td><td><em>Art of Programming Contest</em>, 2ed, Ahmed Shamsul Arefin</td></tr>
<tr><td>[2]</td><td><em>Elementary Number Theory With Applications</em>, 2ed, Thomas Koshy</td></tr>
</table>

<%= finalize(); %>
